body {
	background-color: #3F4C56;
}
/*user info box*/
.user {
	background-color: #1A6E88;
	padding: 40px;
	padding-left: 60px;
	width: 30%;
	float: left;
	display: inline-block;
	box-shadow: -8px 12px 10px #2a3d4e;
	box-sizing: border-box;
	vertical-align: top;
	text-align: left;
	margin: 10px;
	margin-left: 75px;
	margin-top: 40px;
}

.text {
	color: white;
}

.userimg {
	height: 250px;
	width: 250px;
	border-radius: 50%;
	box-shadow: -4px 6px 10px #2a3d43;
}


/*stats box*/

.stats {
	background-color: #1A6E88;
	color:white;
	padding: 40px;
	padding-left: 60px;
	width: 580px;
	float: left;
	display: inline-block;
	box-shadow: -8px 12px 10px #2a3d4e;
	box-sizing: border-box;
	vertical-align: top;
	text-align: left;
	margin: 10px;
	margin-left: 100px;
	margin-top: 40px;
}

#progress {
	height: 70px;
	width:100%;
	background-color: grey;
	position: relative;
}

#progressbar {
	height: 70px;
	background-color: silver;
	/*width: 66%;*/

}

.percent {
	margin: 0;
	top: 50%;
	left: 50%;
	position: absolute;
	box-sizing: border-box;
}

button {
	background: none;
	border: 3px solid #00bcd4;
	color: #00bcd4;
	border-radius: 30px;
	display: block;
	padding: 12px 30px;
	margin-top: 20px;
}

/*active box*/

.active {
	background-color: #1A6E88;
	color:white;
	padding: 50px;
	/*padding-left: 60px;*/
	width: 38%;
	float: right;
	display: inline-block;
	box-shadow: -8px 12px 10px #2a3d4e;
	box-sizing: border-box;
	vertical-align: top;
	text-align: left;
	margin: 1%;
	margin-right: 300px;
	/*margin-left: 200px;*/
	/*margin-top: 40px;*/
}







/*footer box*/

.footey {
	position: absolute;
    bottom: 0;
    width: 35%;
	background-color: #1A6E88;
	padding: 20px 0;
	margin-left: 60px;
	float: left;
	display: block;
	box-shadow: -8px 12px 10px #2a3d4e;
	box-sizing: border-box;
	vertical-align: top;

}

.footey ul li {
	list-style-type: none;
	color:white;
	float: left;
	padding: 10px;
}